.modal-opened {
    display: block !important;
    visibility: visible !important;
}
#close-modal {
    border: none;
    background: red;
    border-radius: 5px;
    color: #fff;
}

.credentials-container,
.credentials-container-reverse {
    cursor: pointer;
}